In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

### Question 12

Which award category has the highest number of actor nominations (actors can be male or female)? (Hint: `Oscars.name` contains both actors' names and film names.)

In [3]:
%%sql

SELECT 
    award, 
    COUNT(*) AS nomination_count
FROM 
    oscars
WHERE 
    award LIKE '%Actor%'
    OR award LIKE '%Actress%'
GROUP BY 
    award
ORDER BY 
    nomination_count DESC
LIMIT 1;

 * sqlite:///TMDB.db
Done.

[('Actress in a Supporting Role', 400)]