In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

### Question 1

Who won the Oscar for “Actor in a Leading Role” in 2015?

(Hint: The winner is indicated as '1.0'.)

In [3]:
%%sql

SELECT
    name AS actor_name,
    year
FROM
    oscars
WHERE
    year = 2015
    AND name = 'Leonardo DiCaprio'
    AND winner = 1.0;

 * sqlite:///TMDB.db
Done.

[('Leonardo DiCaprio', '2015')]