In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

### Question 3

How many unique awards are there in the Oscars table?

In [4]:
%%sql

SELECT 
    COUNT(DISTINCT award) AS unique_award_count
FROM 
    oscars;

 * sqlite:///TMDB.db
Done.

[(114,)]