In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

### Question 5

How many movies are there that are both in the "Thriller" genre and contain the word “love” anywhere in the keywords?

In [3]:
%%sql

SELECT 
    COUNT(DISTINCT m.movie_id) AS thriller_love_movies
FROM
    movies m
JOIN 
    genremap gm 
    ON m.movie_id = gm.movie_id
JOIN 
    genres g 
    ON gm.genre_id = g.genre_id
JOIN 
    keywordmap km 
    ON m.movie_id = km.movie_id
JOIN 
    keywords k 
    ON km.keyword_id = k.keyword_id
WHERE
    g.genre_name = 'Thriller'
    AND k.keyword_name LIKE '%love%';

 * sqlite:///TMDB.db
Done.

[(48,)]