In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

### Question 8

What are the genres of the movie “The Royal Tenenbaums”?

In [3]:
%%sql

SELECT 
    g.genre_name
FROM 
    movies m
JOIN 
    genremap gm 
    ON m.movie_id = gm.movie_id
JOIN 
    genres g 
    ON gm.genre_id = g.genre_id
WHERE 
    m.title = 'The Royal Tenenbaums';

 * sqlite:///TMDB.db
Done.

[('Drama',), ('Comedy',)]