In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

### Question 13

DStv will be having a special week dedicated to the actor Alan Rickman. Write a query that would create a new _view_ that shows the titles, release dates, taglines, and overviews of all movies that Alan Rickman has played in?

In [3]:
%%sql
CREATE VIEW Alan_Rickman_Movies AS
    
    SELECT 
        title, 
        release_date, 
        tagline, 
        overview 
    FROM 
        Movies
    LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id
    LEFT JOIN Actors ON Casts.actor_id = Actors.actor_id

    WHERE Actors.actor_name = 'Alan Rickman'

 * sqlite:///TMDB.db
(sqlite3.OperationalError) view Alan_Rickman_Movies already exists
[SQL: CREATE VIEW Alan_Rickman_Movies AS

    SELECT
        title,
        release_date,
        tagline,
        overview
    FROM
        Movies
    LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id
    LEFT JOIN Actors ON Casts.actor_id = Actors.actor_id

    WHERE Actors.actor_name = 'Alan Rickman']
(Background on this error at: https://sqlalche.me/e/14/e3q8)