In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

### Question 6

How many movies are there that were released between 1 August 2006 ('2006-08-01') and 1 October 2009 ('2009-10-01') that have a popularity score of more than 40 and a budget of less than 50 000 000?

In [3]:
%%sql

SELECT
    COUNT(*) AS qualified_movies
FROM 
movies
WHERE release_date BETWEEN '2006-08-01' AND '2009-10-01'
  AND popularity > 40
  AND budget < 50000000;

 * sqlite:///TMDB.db
Done.

[(29,)]