In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB.db

'Connected: @TMDB.db'

In [3]:
### Question 9

What are the three production companies that have the highest movie popularity score on average, as recorded within the database?

Object `database` not found.

In [4]:
%%sql

SELECT 
    pc.production_company_name,
    AVG(m.popularity) AS avg_popularity
FROM
    movies m
JOIN
    productioncompanymap pcm 
    ON m.movie_id = pcm.movie_id
JOIN 
    productioncompanies pc 
    ON pcm.production_company_id = pc.production_company_id
GROUP BY 
    pc.production_company_name
ORDER BY 
    avg_popularity DESC
LIMIT 3;

 * sqlite:///TMDB.db
Done.

[("The Donners' Company", 514.569956),
 ('Bulletproof Cupid', 481.098624),
 ('Kinberg Genre', 326.92099900000005)]